.container{
    height: 500px;
    width: 640px;
    border-radius: 20px 20px 200px 20px;
    background-color: white;
    padding: 30px;
}


.inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    margin-bottom: 60px;
    
   
}

.inputLabel{
    width: calc(100% /3 - 10px);
    font-family: Poppins;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 2px;
    color: #6d6d6d;
    
}

.inputText{
    width: calc((100% / 3) - 42px);
    height: fit-content;
    outline: none;
    border: none;
    margin-right: 10px;
    padding:10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: Poppins;
    font-weight: 900;
    font-size: 16pt;
    
  
}



.inputText:hover{
    border-color: #864cff;
    caret-color: #864cff;
}

.inputText:focus{
    border-color: #864cff;
    caret-color: #864cff;
}

.validity{

    width: calc(100% /3);
    color: red;
    font-family: Poppins;
    font-size: 10pt;
    font-weight: 500;
    visibility: hidden;

}

.Invalid{
    visibility: visible;
}

.separator{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #ddd;
    height: 1px;
    margin-bottom: 100px;
    justify-content: center;
    
}

.arrow{

    background-color: #864cff;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -30px; 
}

.arrow:hover{
    background-color: black;
    cursor: pointer;
}

.arrowImage{
    width: 100%;
    height: 100%;
}




.age{
    display: block;
    content: " Years";
    font-family: Poppins;
    font-size: 40pt;
    font-weight: 900;
    font-style: italic;
    color: #864cff;
}




.one::after{
    content: "Years";
    font-family: Poppins;
    font-size: 40pt;
    font-weight: 900;
    font-style: italic;
    color: black;
}

.two::after{
    content: " Months";
    font-family: Poppins;
    font-size: 40pt;
    font-weight: 900;
    font-style: italic;
    color: black;
}

.three::after{
    content: " Days";
    font-family: Poppins;
    font-size: 40pt;
    font-weight: 900;
    font-style: italic;
    color: black;
}

 @media (min-width : 390px){

    .container{
        height: 500px;
        width: calc(100%-60px);
        border-radius: 20px 20px 200px 20px;
        background-color: white;
        padding: 30px;
    }

 }

 @media (min-width : 391px){

    .inputContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
        width: 90%;
        margin-bottom: 60px;
        
       
    }

    .arrow{

        background-color: #864cff;
        outline: none;
        border: none;
        border-radius: 50px;
        padding: 20px;
        width: 70px;
        height: 70px;
        position: absolute;
        top: -30px; 
        left: 100%;
    }

    .separator{
        position: relative;
        display: flex;
        width:85%;
        background-color: #ddd;
        height: 1px;
        margin-bottom: 60px;
        
    }
    
    .age{
        display: block;
        content: " Years";
        font-family: Poppins;
        font-size: 48pt;
        font-weight: 900;
        font-style: italic;
        color: #864cff;
    }
    
    
    
    
    .one::after{
        content: "Years";
        font-family: Poppins;
        font-size: 48pt;
        font-weight: 900;
        font-style: italic;
        color: black;
    }
    
    .two::after{
        content: " Months";
        font-family: Poppins;
        font-size: 48pt;
        font-weight: 900;
        font-style: italic;
        color: black;
    }
    
    .three::after{
        content: " Days";
        font-family: Poppins;
        font-size: 48pt;
        font-weight: 900;
        font-style: italic;
        color: black;
    }


 }